<h1>My Portfolio</h1>
<table>
  <thead>
    <tr>
      <th>Stock</th>
      <th>Quantity</th>
      <th>Average Price</th>
      <th>Current Value</th>
    </tr>
  </thead>
  <tbody>
    <% @holdings.each do |holding| %>
      <tr>
        <td><%= holding.stock.symbol %></td>
        <td><%= holding.total_quantity %></td>
        <td><%= number_to_currency(holding.avg_price) %></td>
        <td><%= number_to_currency(holding.stock.stock_value * holding.total_quantity) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
